h1 {

}
.keret
{
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 10px;
}
h2 {

}
body {
    background-image: url("backgroundimagealt.png");
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    color: black;
}
img {
    float: right;
    width: 25%;
    margin: 10px;
}
